body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00796B;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 10px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #00796B;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
